{% extends "base.html" %}

{% block title%}
    {{title}}
{% endblock %}


{% block content%}
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="" src="{{ url_for('static', filename='img/brit.jpg') }}" width="470" height="530" alt="BDU">
                </div>
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="a_color nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#description">Описание</a>
                        </li>
                        <li class="a_color nav-item">
                            <a class="nav-link" data-toggle="tab" href="#characteristics" >Характеристики</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="description">
                            <h2 class="h4 mb-3">БРИТ</h2>
                            <p>
                                БРИТ применяется совместно с прибором ПУ/ПУПТ и содержит всю необходимую индикацию и органы управления
                                (кнопки) для 4-х направлений пожаротушения. Не заменяет собой БДУ.

                                <p>
                                    <a href="/OmegaSystem#Прибор БРИТ">Детальнее про прибор</a>
                                </p>
                            </p>
                        </div>
                        <div class="tab-pane fade" id="characteristics">
                            <p>
                                <h2 class="h4 mb-3">Технические характеристики:</h2>
                                Напряжение питания - 12В, 0.1А.<br>
                                Ток потребления в дежурном режиме - не более 10 мА + 3 мА на каждый включенный индикатор.<br>
                                Индикация:<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;светодиодный индикатор <ПУСК> (красный) 1шт. х 4.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;светодиодный индикатор <Стоп АСПТ> (желтый) 1шт. х 4.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;светодиодный индикатор <Отказ АСПТ> (желтый) 1шт. х 4.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;светодиодный индикатор <Блокировка> (желтый) 1шт. х 4.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;светодиодный индикатор <Норма> (зеленый) 1шт. х 4.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;светодиодный индикатор <РУЧН/АВТ> (желтый) 1шт. х 4.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;светодиодный индикатор <ПОДТВЕРДИТЕ ПУСК> (красный) 1шт.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;светодиодный индикатор <Питание> (зеленый) 1шт.<br>
                                Управление:<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;кнопка управления <ПУСК> 1шт х 4.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;кнопка управления <РУЧН/АВТ> 1шт. х 4.<br>
                                    &nbsp; &nbsp; &nbsp; &nbsp;кнопка управления <ПОДТВЕРДИТЕ ПУСК> 1шт.<br>
                                Коммуникация - внутриситемный канал связи RS485: A1/B1 - основной, A2/B2 - резервный.<br>
                                Габаритные размеры в мм (Ш х В х Г) - 235 х 275 х 80.<br>


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}