<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{{title}}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <div class="my_header">
            <div class="header_menu">
                <div class="header_logo_my">
                    <a href="/"><img class="header_logo_my" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></a>
                </div>

                <div class="header_navs">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="" href="/products">Продукция</a>
                        </li>
                        <li class="nav-item">
                            <a class="" href="/">О Компании</a>
                        </li>
                        <li class="nav-item">
                            <a class="" href="{{ url_for('static', filename='pdf/price.pdf') }}">Цены</a>
                        </li>
                        <li class="nav-item">
                            <a class="" href="/contacts">Контакты</a>
                        </li>
                        <li class="nav-item">
                            {% if current_user.is_anonymous %}
                                <a class="" href="/login">Войти</a>
                            {% else %}
                                <a class="p-2 text-blue" href="">{{current_user.name}}</a>
                                <a class="" href="/logout">Выйти</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="{{ url_for('static', filename='img/logo.png') }}" alt="" width="24" height="24">
              <small class="d-block mb-3 text-muted">©2020</small>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/">Главная</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/products">Продукция</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts">Контанты</a></li>
                </ul>
            </div>
        </div>
    </footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>