{% extends "base.html" %}

{% block title%}
    {{title}}
{% endblock %}

{% block content%}
    <main role="main">

        <section class="jumbotron text-left">
            <div class="container">
                <p><b>ЧП «РЕЗЕРВ-1», Украина, 61157, г. Харьков, ул. Москалевская, 99, В2</b></p>
                <p class="info_contact">
                    Директор: Попов Григорий Павлович - тел./факс: <span class="colortext">+38(057)703-21-57, +38(067)578-18-09.</span><br>
                </p>
                <p class="info_contact">
                    Бухгалтерия: Ольга Григорьевна - тел.: <span class="colortext">+38(067)570-51-18.</span><br>
                </p>
                <p class="info_contact">
                    Телефоны тех. поддержки - тел.: <span class="colortext">+38(057)703-21-58, +38(097)783-60-31.</span><br>
                </p>
                <p class="info_contact">
                    Email - <span class="colortext">rezerv-1@ukr.net</span><br>
                </p>
                <p class="info_contact">

                </p>
                <p class="info_partner">
                    НАШИ ПАРТНЕРЫ:<br>
                    ООО "Проект АО", ООО "Проект ВО"<br>
                    61045, Украина, г.Харьков, ул. Клочковская, 295<br>
                    тел./факс: +38(057)754-63-64,<br>
                    e-mail: info@proektao.com.ua<br>
                    ICQ: 410-749-597<br>
                </p>
            </div>
        </section>

    </main>
{% endblock %}