<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Справка по программе ОмегаКонфигуратор</title>
  <style>
	body
	{
/*		background-image:url('Images/climpek.png'); */
/*		background-color:#7d7d7d;*/
		margin:0px; 
		padding:0px;
		min-height:700px;
	}


	.bodysiteall
	{
		background-color:#fff;
		margin:0px 30px 30px;
		padding:50px 0px 0px 0px;
/*		width:92%;*/
		
		box-shadow: 0px 0px 10px 3px #a6a6a6;
		-webkit-box-shadow: 0px 0px 10px 3px #a6a6a6;
	}   
 /* Верхняя надпись */ 
	.allneed 
	{
		position:fixed;
		top:0px;
		left:0px;
		margin:0px;
		padding:0 0 4px 0;
		width:100%;
		background-color: navy;/*#F0F0F0;*/
		font-size: 30px;/*1.4em;*/
		color: white;
		text-align:center;
		box-shadow: 0px 0px 7px 2px #a6a6a6;
		-webkit-box-shadow: 0px 0px 7px 2px #a6a6a6;
	}

	div.topmenu
	{
		width:100%;
		font-size:1.2em;
		color: blue;
		text-align:center;
		margin-top:0px;
		padding-top:7px;
		padding-bottom:6px;
		margin-bottom:0px;
		margin-left:auto;
		margin-right:auto;
	}

	.bodyleft
	{
		position: fixed;  /* Фиксированное положение */
		left: 30px;
		top: 60px;  
		float: left;
		width: 300px; 
		padding-right: 39px;
		padding-bottom: 22px;
		padding-top: 15px;
		font-size:18px;
		font-family: 'Arial', sans-serif;
		color:#025a64;
		background-color:#fff;
		
	}
	#head
	{
		color:black;
		font-weight:bold;
		padding-bottom: 15px;
	
	}

	.bodyleft summary
	{
		position: absolute; 
		margin-left: -20px; 
		margin-top: -24px; 
		text-align: right;
		background: #fff;
		cursor: pointer;
	}

	details summary
	{
		outline:none;
	}


	.bodyleft div 
	{
		padding-left:25px;
	}
	.bodyleft a:link
	{
		color:#025a64;
		text-decoration:none;
		border-style:none;
		outline-style:none;
	}

	.bodyleft a:visited
	{
		color:#025a64;
		text-decoration:none;
		border-style:none;
		outline-style:none;
	}

	.bodyleft a:hover
	{
		color:#013c41;
		text-decoration:underline;
		border-style:none;
		outline-style:none;
	}

	.bodyleft a:active
	{	
		color:#025a64;
		text-decoration:none;
		border-style:none;
		outline-style:none;
	}

	/* Оформление поля с содержимым */

	.bodycentr
	{
		background-color:#fff;
/*		padding-top:26px;*/
		padding-left:26px;
		margin-left: 350px; 
		width:750px;
		
	}


	.bodycentr h3
	{
		border-bottom:1px #C3C4C4 solid;
		font-size: 28px;/* 1.3em*/;
		padding-bottom:3px;
		padding-left:100px;
		color:#800040;/*#2f2f2f;*/
	}

	.bodycentr h4
	{
		font-size: 24px;
		font-weight:bold;
		color:black
	}
	

	.bodycentr p 
	{
		font-size:22px;/*1.1em;*/  
		line-height:28px;
		padding-right:20px;
		padding-bottom:10px;
		padding-left:30px;
	}
	.bodycentr ol
	{
		font-size:22px;/*1.1em;*/  
		line-height:28px;
		padding-right:20px;
		padding-left:80px;
	}	

	.bodycentr ul
	{
		font-size:22px;/*1.1em;*/  
		line-height:28px;
		padding-right:20px;
		padding-left:80px;
	}	
	.bodycentr li
	{
/*		padding-bottom:20px;*/

	}

	.bodydown  /* Нижний блок */
	{ 
		font-size:18px;/*1.1em;*/  
		position: fixed; /* Фиксированное положение */
		left: 0; bottom: 0; /* Левый нижний угол */
		padding: 10px; /* Поля вокруг текста */
		background-color: navy;/*#F0F0F0;*/
		color: white; /* Цвет текста */
		width: 100%; /* Ширина слоя */

	}	
	
	table.image
	{
		padding-left: 80px; /* Отступ слева */
		margin-top: 30px; /* Отступ слева */
	}

	table.warn
	{
		width: 90%;
		border-left: 2px solid grey ;
		border-bottom: 2px solid grey ;
		background: #ddd;
		font-style: italic;
		font-weight: bold;
		font-size: 22px; /* Размер шрифта */
		margin-left: 30px; /* Отступ слева */
		padding: 15px;  /* Поля вокруг текста */
	}
	h2.warn, h2.mem {
		font-size: 24px; /* Размер шрифта */
		font-weight: normal; /* Нормальное начертание текста */
		margin-left: 30px; /* Отступ слева */
		margin-bottom: 0;
		margin-top: 0;
   }
	h2.warn {   color: maroon; /* Цвет текста */}

	h2.mem {   color: navy; /* Цвет текста */}
	
	table.screen_a
	{
		font-family : Curier, monospace; 
		font-style : bold;
		margin-left: 60px; /* Отступ слева */
	}

	img.button
	{
	}	
</style>
 
 </head>
 <body>
	<header>
		<div class="allneed">
			Система пожарной безопасности "Омега"
		</div>
	</header>
	<div class="bodysiteall"> 

		<div class="bodyleft">
				<div id="head">Содержание</div>

				<div><a href="#Обшие сведения">Обшие сведения</a>
					<details>
						<summary></summary>
						<div><a href="#Изменения">Что нового в релизе</a></div>
						<div><a href="#Назначение">Назначение</a></div>
						<div><a href="#Состав">Состав</a></div>
						<div><a href="#Структура">Структурная схема соединения приборов</a></div>
						<div><a href="#Предупреждения">Предупреждения</a></div>
						<div><a href="#Советы">Прежде чем...</a></div>
					</details>
				</div>

				<div><a href="#Прибор ПУ">Прибор управления(ПУ)</a>
					<details>
						<summary></summary>
						<div><a href="#Назначение ПУ">Назначение</a> </div>
						<div><a href="#Технические характеристики ПУ">Технические характеристики</a></div>
						<div><a href="#Индикация ПУ">Индикация</a></div>
						<div><a href="#Управление ПУ">Управление</a></div>
						<div><a href="#Входы/выходы ПУ">"Входы/выходы</a></div>
						<div><a href="#Режимы работы ПУ">Режимы работы</a>
							<details>
								<summary></summary>
								<div><a href="#Диагностика">Диагностика</a></div>
								<div><a href="#Норма">Норма</a></div>
								<div><a href="#Отключения">Отключения</a></div>
								<div><a href="#Отказ">Отказ</a></div>
								<div><a href="#Технология">Технология</a></div>
								<div><a href="#Пожар">Пожар</a></div>
							</details>
						</div>
						<div><a href="#Основное меню ПУ">Основное меню</a>
							<details>
								<summary></summary>
								<div><a href="#Архивы">Архивы</a>
									<details>
										<summary></summary>
										<div><a href="#Текущие отказы">Текущие отказы</a></div>
										<div><a href="#Текущие отключения">Текущие отключения</a></div>
										<div><a href="#Архив отказов">Архив отказов</a></div>
										<div><a href="#Архив пожаров">Архив пожаров</a></div>
									<div><a href="#Архив событий">Архив событий</a></div>
									</details>
								</div>
								<div><a href="#Сигнализация">Сигнализация</a>
									<details>
										<summary></summary>
										<div><a href="#Состав извещателей">Состав извещателей</a></div>
										<div><a href="#Состав приборов">Состав приборов</a></div>
										<div><a href="#Отключения зон">Отключения зон</a></div>
										<div><a href="#Сервис">Сервис</a>
											<details>
												<summary></summary>
												<div><a href="#Проверка извещателей">Проверка извещателей</a></div>
												<div><a href="#Поиск извещателей">Поиск извещателей</a></div>
												<div><a href="#Включить извещатели">Включить извещатели</a></div>
												<div><a href="#Смена адреса извещателя">Смена адреса извещателя</a></div>
												<div><a href="#Смена адреса ППКП">Смена адреса ППКП</a></div>
												<div><a href="#Смена адреса БРВУ">Смена адреса БРВУ</a></div>
												<div><a href="#Смена адреса БДУ">Смена адреса БДУ</a></div>
											</details>
										</div>
									
									</details>

								</div>
								<div><a href="#Пожаротушение">Пожаротушение</a>
									<details>
										<summary></summary>
										<div><a href="#Настройка направлений">Настройка направлений</a></div>
										<div><a href="#Задержка сброса">Задержка сброса</a></div>
									</details>
								</div>
								<div><a href="#Релейные выходы">Релейные выходы</a>
									<details>
										<summary></summary>
										<div><a href="#Релейные сценарии">Релейные сценарии</a></div>
										<div><a href="#Выход ПЕРЕДАЧА ПЦН">Выход ПЕРЕДАЧА ПЦН</a></div>
										<div><a href="#Выход ОПОВЕЩЕНИЕ">Выход ОПОВЕЩЕНИЕ</a></div>
										<div><a href="#Контроль реле">Контроль реле</a></div>
										<div><a href="#Связанные выходы">"Связанные" выходы</a></div>
									</details>
								
								</div>
								<div><a href="#Общие настройки">Общие настройки</a>
									<details>
										<summary></summary>
										<div><a href="#Внешняя коммуникация">Внешняя коммуникация</a>
											<details>
												<summary></summary>
												<div><a href="#Межсистемная">Межсистемная(А3/В3)</a></div>
												<div><a href="#Компьютерная">Компьютерная(А4/В4)</a></div>
											</details>
										
										</div>
										<div><a href="#Календарь">Календарь</a></div>
										<div><a href="#Код доступа">Код доступа</a></div>
										<div><a href="#Серийный номер">Серийный номер</a></div>
										<div><a href="#Обновить программу">Обновить программу</a></div>
										<div><a href="#Языковые настройки">Языковые настройки</a></div>
										<div><a href="#Статус прибора">Статус прибора</a></div>
									</details>
								
								</div>
								<div><a href="#Конфигурация">Конфигурация</a>
									<details>
										<summary></summary>
										<div><a href="#Записать в ПУ">Записать в ПУ</a>
											<details>
												<summary></summary>
												<div><a href="#Источник:SD-карта">Источник:SD-карта</a></div>
												<div><a href="#Источник:компьютер">Источник:компьютер</a></div>
												<div><a href="#Источник:резервная копия">Источник:резервная копия</a></div>
											</details>
										</div>
										<div><a href="#Считать из ПУ">Считать из ПУ</a>
											<details>
												<summary></summary>
												<div><a href="#Приемник:SD-карта">Приемник:SD-карта</a></div>
												<div><a href="#Приемник:компьютер">Приемник:компьютер</a></div>
												<div><a href="#Приемник:резервная копия">Приемник:резервная копия</a></div>
											</details>
										</div>
									</details>
								
								</div>
								<div><a href="#Техническая поддержка">Техническая поддержка</a></div>
							</details>
						
						</div>
					</details>
				</div>
				<div><a href="#Прибор ППКП">Прибор расширения(ППКП)</a>
					<details>
						<summary></summary>
						<div><a href="#Назначение ППКП">Назначение</a> </div>
						<div><a href="#Технические характеристики ППКП">Технические характеристики</a></div>
						<div><a href="#Подключение ППКП">Подключение и программирование</a></div>
					</details>
				</div>
				<div><a href="#Прибор БРВУ">Блок БРВУ</a>
					<details>
						<summary></summary>
						<div><a href="#Назначение БРВУ">Назначение</a> </div>
						<div><a href="#Технические характеристики БРВУ">Технические характеристики</a></div>
						<div><a href="#Подключение БРВУ">Подключение и программирование</a></div>
					</details>
				</div>
				<div><a href="#Прибор БДУ">Блок БДУ</a>
					<details>
						<summary></summary>
						<div><a href="#Назначение БДУ">Назначение</a> </div>
						<div><a href="#Технические характеристики БДУ">Технические характеристики</a></div>
						<div><a href="#Подключение БДУ">Подключение и программирование</a></div>
					</details>
				</div>
				<div><a href="#Прибор БРИТ">Блок БРИТ/БДУ4</a>
					<details>
						<summary></summary>
						<div><a href="#Назначение БРИТ">Назначение</a> </div>
						<div><a href="#Технические характеристики БРИТ">Технические характеристики</a></div>
						<div><a href="#Подключение БРИТ">Подключение и программирование</a></div>
					</details>
				</div>
				<div><a href="#Прибор ПИУ">Прибор ПИУ</a>
					<details>
						<summary></summary>
						<div><a href="#Назначение ПИУ">Назначение</a> </div>
						<div><a href="#Технические характеристики ПИУ">Технические характеристики</a></div>
						<div><a href="#Подключение ПИУ">Подключение и программирование</a></div>
					</details>
				</div>
				<div><a href="#Прибор ДВП">Прибор ДВП</a>
					<details>
						<summary></summary>
						<div><a href="#Назначение ДВП">Назначение</a> </div>
						<div><a href="#Технические характеристики ДВП">Технические характеристики</a></div>
						<div><a href="#Подключение ДВП">Подключение и программирование</a></div>
					</details>
				</div>
				<div><a href="#Контакт">Контактная информация  </a> </div>
		</div>
		<div class="bodycentr">	
			
			<a name="Обшие сведения"></a><a name="Изменения"></a><h3>Что нового в релизе </h3>
			<h4>28.09.18</h4>
     		 <ul>
					<li>Начиная с версии ПО  V10t и выше  для обеспечения 100% резервирования работы прибора ПУ/ПУ-ПТ на объектах повышенной опасности  введен режим 
					 <a href="#Общие настройки"><i>СТАТУС ПРИБОРА:ОСНОВНОЙ/РЕЗЕРВНЫЙ</i></a>.
					</li>

					<li>Начиная с версии ПО  V11b и выше  количество доступных сценариев увеличено до 128
					 (см.<a href="#Релейные сценарии"><i>РЕЛЕЙНЫЕ СЦЕНАРИИ</i></a>).
					</li>

					<li>Начиная с версии ПО  V11h и выше в приборах ПУ/ПУ-ПТ/ППКП  введена поддержка двухпроводных безадресных извещателей с током тревоги 10..12мА. Для создания конфигурации необходимо использовать конфигуратор
					версии V5.12 и выше.
					</li>
			 </ul>

			<a name="Назначение"></a><h3>Назначение</h3>
				<p>
				Адресная система пожарной безопасности 
				полностью отвечает требованиям национальных стандартов ДСТУ EN54  к системам пожарной сигнализации и предназначена для выдачи сообщений о возникновении пожара по признакам дыма, пламени и повышения температуры.
				Технические и функциональные возможности системы «ОМЕГА» позволяют создавать высоконадежные, распределенные и легко масштабируемые системы пожарной сигнализации объемом от единиц до нескольких тысяч извещателей.
				Высокая достоверность обнаружения пожара, дублированные каналы связи, полный контроль передачи сигналов на исполнительные устройства, наличие взрывобезопасного исполнения позволяют использовать систему «ОМЕГА» на промышленных предприятиях, критически важных объектах, гостиничных комплексах, административных зданиях, офисах, складских помещениях и т.п.
				</p>

			<a name="Состав"></a><h3>Состав</h3>
				<a href="#Прибор ПУ"><h4>Прибор управления (ПУ)</h4></a>
				<p>выполняет все функции ППКП в соответствии с требованиями ДСТУ EN54.
  				   Предназначен для приема информации от адресных извещателей/блоков,
				   а также от приборов расширения приемно-контрольных пожарных (ППКП).
				</p>
				<a href="#Прибор ППКП"><h4>Прибор расширения (ППКП)</h4></a>
				<p>предназначен для расширения возможности прибора управления  в части количества линий/колец для адресных извещателей
				   и выходов (реле) системы "Омега". 
				</p>
				<a href="#Прибор БРВУ"><h4>Блок реле внешних устройств (БРВУ)</h4></a>
				<p>
				 предназначен для расширения возможности прибора управления  в части количества выходов (реле).
				</p>
				<a href="#Прибор БДУ"><h4>Блок дистанционного управления (БДУ)</h4></a>
				<p>базовый прибор управления техническими средствами одного направления пожаротушения
				</p>
				<a href="#Прибор БРИТ"><h4>Блок расширения индикации тушения (БРИТ/БДУ4)</h4></a>
				<p>
				 Прибор БРИТ(ранее БДУ4) предназначен для дополнения прибора ПУ индикацией и кнопоками управления для 4-х направлений пожаротушения. 
				</p>
				<a href="#Прибор ПИУ"><h4>Прибор индикации и управления (ПИУ)</h4></a>
				<p>предназначен для отображения событий/состояния  системы «ОМЕГА» на единичных светодиодных индикаторах,
				   а также для управления техническими средствами при помощи кнопок. 
				</p>

				<a href="#Прибор ДВП"><h4>Дополнительный выносной прибор (ДВП)</h4></a>
				<p>предназначен для дублированния информационных сообщений прибора ПУ.
				</p>
				<h4>Извещатели/блоки адресные точечные</h4>			
				<p> дымовые (СПДОТА), тепловые (СПТТА), пламени (СППТА), ручные (СПРА), блок сопряжения (БСА) и блок коммутации (БКА). Подключаются к кольцам/линиям приборов ПУ/ППКП.  Все адресные устройства имеют взрывозащищенное исполнение. Более подробно на сайте <A HREF="http://www.proektao.com.ua/" >http://www.proektao.com.ua/</b></td>
				</p>
				
			<a name="Структура"></a><h3>Структурная схема соединения приборов</h3>
			<table class="image">    
				<tr>
					<td><img SRC="{{ url_for('static', filename='img/link.gif') }}"></td>
				</tr>
			</table>

			
			<a name="Предупреждения"></a><h3>Предупреждения</h3>
				<h2 class="warn">OЧЕНЬ ВАЖНО</h2> 
				<table  class="warn">
					<tr>
						<td>
							При монтаже приборов соблюдайте правильность подключения фаз сети ~220В согласно маркировке.
							Все приборы должны быть <font  color="red">ОБЯЗАТЕЛЬНО ЗАЗЕМЛЕНЫ</font>

						</td>
					</tr>
				</table> 

				<p><h2 class="warn">Обратите внимание</h2> 
				<table  class="warn">
					<tr>
						<td>
						При монтаже приборов и извещателей не допускайте попадание "посторонней земли" на внутренние цепи.
						Это может привести к нестабильной работе системы в целом
						</td>
					</tr>
				</table> 
				</p>
			
			<a name="Советы"></a><h3>Прежде чем...</h3>
			
			<p>
				двигаться дальше, необходимо запомнить: 
				<ul>
					<li> Cистема пожарной безопасности «ОМЕГА»
					<I><B>адресная</B></I>, а это значит, что каждый компонент системы <B><I>должен</I></B> иметь свой адрес.
					 При поставке, все извещатели имеют адрес &ltРЕЗЕРВ&gt, поэтому перед установкой каждому извещателю необходимо присвоить адрес, согласно проекту.
					 Адрес извещателя должен быть уникальный в пределах одного кольца/линии.
					</li>
					<li> Для записи конфигурации с компьютера необходимо установить драйвер USB-порта. Для этого
					подключите прибор ПУ системы адресной пожарной сигнализации «ОМЕГА» к компьютеру при
					помощи кабеля, входящего в комплект поставки. Включите прибор ПУ. Система Windows запустит мастер
					установки нового оборудования и предложит установить драйвер автоматически.
					</li>

				</ul>
			</p>			
				
			<a name="Прибор ПУ"></a><h3>Прибор управления (ПУ)</h3>
				<a name="Назначение ПУ"></a><h4>Назначение</h4>	
				<p>
				Прибор управления (ПУ)  выполняет все функции ППКП в соответствии с требованиями ДСТУ EN54.
				Предназначен для приема    информации от адресных извещателей/блоков, а также от приборов расширения
				приемно-контрольных пожарных (ППКП).
				Выполняет обработку и отображение информации на алфавитно-цифровом дисплее и отдельных индикаторах,
				а также передачу управляющих и информационных сообщений на приборы, входящие в состав системы.
				Обеспечивает связь с внешними устройствами, такими как компьютер, коммуникаторы и т.п.
				К прибору ПУ может быть подключено до 8 колец/линий с 60 адресными устройствами в каждом.
				Для управления внешними техническими средствами прибор ПУ содержит 8 нормально разомкнутых
				контролируемых выходов (контактов реле) с параметрами =30В 5А.
				Прибор ПУ имеет резервированный канал связи для внутрисистемного обмена (RS485 A1/B1 A2/B2),
				а также канал связи для межсистемного обмена (RS485 A3/B3) и канал связи с внешними устройствами, типа компьютер (RS485 A4/B4). 
				</p>
				<a name="Технические характеристики ПУ"></a><h4>Технические характеристики</h4>
				<p>
				<b>Питание:</b>
				 <br>Основной источник питания - ~220 В.
				 <br>Потребляемая мощность - не более 30 Вт.
				 <br>Резервный источник питания - аккумулятор 12 В, 7 А/ч
				<br><br><b>Выходы:</b>
				<br>для подключения адресных извещателей - 8 линий/колец по 60 извещателей 
				<br>контролирумый выход К1<i>"Передача ПЦН"</i> - нормально разомкнутых контакт 30В,&nbsp3А   
				<br>контролирумый выход К2<i>"Оповещение"</i> - нормально разомкнутых контакт 30В,&nbsp3А   
				<br>контролирумые выходы/реле - 6 нормально разомкнутых  контактов 30В,&nbsp3А   
				<br>выход <i>"Общий отказ"</i> - нормально разомкнутых контакт 30В,&nbsp0,25 А   
				<br>питание внешних устройств - 12 В,&nbsp0.5A 
				 <br><br><b>Внешняя коммуникация:</b> 
				 <br>внутрисистемный канал связи - основной: RS485 A1/B1, резервный: RS485 A2/B2.
				 <br>межсистемный канал связи  - RS485 A3/B3
				 <br>канал связи с внешними устройствами -  RS485 A4/B4
				 <br>технологический канал связи - USB 2.0, кардридер SD/SDHC- карточек 
				 <br><br>Габаритный размер в мм (Ш х В х Г)  -  300 х 350 х 100

				</p>
				
				<a name="Индикация ПУ"></a><h4>Индикация</h4>
					<p>Вся информация о состоянии системы выводится на жидкокристалический индикатор (ЖКИ 4 строки по 20 знаков). Кроме того на передней панели прибора ПУ расположенны следующие единичые индикаторы:
					<ul>
					<li>Световое табло <em>"ПОЖАР"</em>, цвет красный - прерывистое свечение при срабатывании любого пожарного извещателя в системе, в постоянное свечение переходит после нажатия кнопки <kbd>&ltЗВУК ОТКЛ.&gt</kbd>.</li> 
					<li>Индикатор <em>"Передача ПЦН"</em>, цвет красный - включается при срабатывании реле <em>"Передача ПЦН"</em> (реле К1 прибора ПУ). </li> 
					<li>Индикатор <em>"Неисправность"</em>, цвет желтый - прерывистое свечение при наличии любого отказа в системе, в постоянное свечение переходит после нажатия кнопки <kbd>&ltЗВУК ОТКЛ.&gt</kbd>. </li> 
					<li>Индикатор <em>"Сист.ошибка"</em>, цвет желтый - включается при длительном отсутствии обращения основного контроллера к контроллеру платы индикации. Сигнализирует о неисправности основного контроллера либо об отсутсвии связи с ним.</li>
					<li>Индикатор <em>"Отключения"</em>, цвет желтый - включается при наличии в системе отключенных адресных элементов, таких как извещатели, выходы, приборы и т.п.</li>
					<li>Индикатор <em>"Диагностика"</em>, цвет желтый - сигнализирует о том, что система в целом или частично находится в режиме <em>"Диагностика"</em>.
					<li>Индикатор <em>"Откл./Неиспр.ПЦН"</em>, цвет желтый - прерывистое свечение при отказе выхода <em>"Передача ПЦН"</em> (реле К1 прибора ПУ), постоянное свечение - при отключении этого выхода.</li>
					<li>Индикатор <em>"Откл./Неиспр.оповещения"</em>, цвет желтый - прерывистое свечение при отказе выхода <em>"Оповещение"</em> (реле К2 прибора ПУ), постоянное свечение - при отключении этого выхода.</li>
					<li>Индикатор <em>"Питание"</em>, цвет зеленый - сигнализирует о наличие питания.</li>
					</ul>
					</p>
					<p>В приборе ПУ-ПТ добавляется индикация для каждого из двух направлений пожаротушения, а именно
					<ul>
					<li>Индикатор <em>"Откл. АСПТ"</em>, цвет желтый - постоянное свечение при отключении соответсвующего направления пожаротушения</li>
					<li>Индикатор <em>"Отказ АСПТ"</em>, цвет желтый - постоянное свечение при обнаружении отказавшего элемента в соответсвующем направлении пожаротушения</li>
					<li>Индикатор <em>"Норма"</em>, цвет зеленый - постоянное свечение сигнализирует о том, что соответствующее направление пожаротушения включено, исправно и находится в состоянии готовности</li>
					<li>Индикатор <em>"Блокировка"</em>, цвет желтый - постоянное свечение сигнализирует о том, что соответствующее направление пожаротушения находится в состоянии <i>Блокировка</i></li>
					<li>Индикатор <em>"Стоп"</em>, цвет желтый - постоянное свечение сигнализирует о том, что процедура пожартушения, в соответствующем направлении, была принудительно остановлена при помощи кнопки <kbd>&ltСТОП&gt</kbd>, подключенной к локальному БДУ </li>
					<li>Индикатор <em>"РУЧНОЙ"</em>, цвет желтый - постоянное свечение сигнализирует о том, что соответствующее направление пожаротушения находится в состоянии <i>Автоматическое тушение отключено</i>
					<li>Индикатор <em>"ПУСК"</em>, цвет красный -  прерывистое свечение сигнализирует о том, что для соответсвующего направления запущена процедура пожаротушения, но подача огнетушащего вещества (ОТВ) еще не началась. Постоянное свечения сигнализирует о том, что процедура пожаротушения завершена, т.е. пришел сигнал о подаче ОТВ в контролируемое пространство</li>
					</ul>
					</p>		
						<p>На ЖКИ-индикатор информация выводится следующим порядком
						
						 <table class="screen_a" width="80%" border="2" bordercolor= "black" rules= "none" >
						  <tr bgcolor="lightgrey" border="0">
						   <th>Р</th><th>Е</th><th>Ж</th><th>И</th><th>М</th>
						   <th>/</th><th>Т</th><th>И</th><th>П</th><th>&nbsp</th>
						   <th>&nbsp</th><th>&nbsp</th><th>&nbsp</th><th>&nbsp</th><th>&nbsp</th>
						   <th>В</th><th>Р</th><th>Е</th><th>М</th><th>Я</th>
						  </tr>
						  <tr bgcolor="lightgrey">
						   <th>&lt</th><th bgcolor="yellow">n</th><th bgcolor="yellow">n</th><th bgcolor="yellow">n</th><th>&gt</th>
						   <th>&nbsp</th><th>Н</th><th>А</th><th>З</th><th>В</th>
						   <th>А</th><th>Н</th><th>И</th><th>Е</th><th>&nbsp</th>
						   <th>З</th><th>О</th><th>Н</th><th>Ы</th><th>&nbsp</th>
						  </tr>
						  <tr bgcolor="lightgrey">
						   <th>&nbsp</th><th>&nbsp</th><th>Т</th><th>Е</th><th>К</th>
						   <th>С</th><th>Т</th><th>&nbsp</th><th>С</th><th>О</th>
						   <th>О</th><th>Б</th><th>Щ</th><th>Е</th><th>Н</th>
						   <th>И</th><th>Я</th><th>&nbsp</th><th>&nbsp</th><th>&nbsp</th>
						  </tr>
						  <tr bgcolor="lightgrey">
						   <th>&lt</th><th>m</th><th>m</th><th>m</th><th>&gt</th>
						   <th>&nbsp</th><th>Н</th><th>А</th><th>З</th><th>В</th>
						   <th>А</th><th>Н</th><th>И</th><th>Е</th><th>&nbsp</th>
						   <th>З</th><th>О</th><th>Н</th><th>Ы</th><th>&nbsp</th>
						  </tr>
						</table> 	
						</p>	
					<h2 class="mem">На заметку</h2> 
					<table  class="warn">
						<tr>
							<td>
							Здесь и дальше параметр выделенный желтым, на экране ЖКИ-индикатора мигает и его можно
							изменять кнопками &ltСТРЕЛКА&nbspВВЕРХ&gt, &ltСТРЕЛКА&nbspВНИЗ&gt
							</td>
						</tr>
					</table> 
					<br><h2 class="mem">На заметку</h2>
					<table class="warn">
							<tr>
							 <td> В строки 2 и 3 ЖКИ-индикатора выводиться полная информация о местоположении извещателя
							 события с порядковым номером &ltnnn&gt
							 </td>
							</tr>
					</table> 

					<p>где
					<ul>
						<li><i>РЕЖИМ</i> - текущее состояние системы: ДИАГНОСТИКА, НОРМА, ОТКЛЮЧЕНИЯ, ОТКАЗ, ТЕХНОЛОГИЯ, ПОЖАР 
						(см.<a href="#Режимы работы ПУ">Режимы работы ПУ</a>).	
						</li>	
						<li><i>ТИП</i> - в режиме ОТКАЗ в данном поле выводиться уточняющее сообщение,		
						такие как ДВОЙН., ОБРЫВ, К.З., ГРЯЗЬ и т.д. Уточняющее сообщения относиться к событию
						с порядковым номером &ltnnn&gt
						</li>	
					
						<li><i>ВРЕМЯ</i> -		
							текущее время. Система оборудована часами реального времени, работающими и 
							при выключенном питании (см.<a href="#Календарь">Календарь</a>).
						</li>	
						<li><i>&ltnnn&gt</i> -
							порядковый номер текущего события.  Кнопками</i> <kbd>&ltСТРЕЛКА ВВЕРХ&gt</kbd>,<kbd>&ltСТРЕЛКА ВНИЗ&gt</kbd>
							можно просмотреть все  события.	По умолчанию в эту строку выводится  событие  с номером  &lt001&gt,
							т.е первый пожар/отказ/отключения.
							При нажатии кнопки <kbd>&ltВВОД&gt</kbd> выводиться последнее событие,
							т.е событие с номером &ltmmm&gt 
						</li>	
						<li><i>НАЗВАНИЕ ЗОНЫ</i> -
							выводится текст зоны, к которой относится извещатель события с порядковым номером &ltnnn&gt или
							название прибора (ПУ, ППКП, БДУ и т.п.) Текст зоны прописывается в программе ОмегаКонфигуратор.
							Нажатие кнопки <kbd>&ltВЫБОР&gt</kbd> выводит в эту строку <a href="#Системный адрес">системный адрес</a>
							устройства. Нажатие кнопки <kbd>&ltВВОД&gt</kbd> - последнее событие (событие с порядковым номером &ltmmm&gt ).						
						</li>
						<li><i>ТЕКСТ СООБЩЕНИЯ</i> -
							выводится текст местоположения извещателя события с порядковым номером &ltnnn&gt
							или текст уточняющего сообщения, если событие относиться к приборам.
							Текст сообщения прописывается в программе ОмегаКонфигуратор.
							Если извещателю не был прописан текст, то выводиться сообщение <i>ЛИНИЯ PL ДАТЧИК NN</i>, где
							<br>&nbsp;&nbsp;&nbsp P - адрес прибора (0-ПУ, 1-ППКП1 ... 8-ППКП8)
							<br>&nbsp;&nbsp;&nbsp L - номер линии в приборе (1..8) 
							<br>&nbsp;&nbsp;&nbsp NN - адрес извещателя в линии (1..60) 
						
						</li>
						<li>
						</li>
						<li>
						</li>
						
					</ul>
					</p>

					
				<a name="Управление ПУ"></a><h4>Управление </h4>
				<a name="Входы/выходы ПУ"></a><h4>Входы/выходы</h4>
				<a name="Режимы работы ПУ"></a> <a name="Диагностика"></a> <h4>Режимы работы/ Диагностика</h4>
				<a name="Норма"></a> <h4>Режимы работы/ Норма</h4>
				<a name="Отключения"></a> <h4>Режимы работы/ Отключения</h4>
				<a name="Отказ"></a> <h4>Режимы работы/ Отказ</h4>
				<a name="Технология"></a> <h4>Режимы работы/ Технология</h4>
				<a name="Пожар"></a> <h4>Режимы работы/ Пожар</h4>
				<a name="Основное меню ПУ"></a><a name="Архивы"><h4></a>Основное меню/ Архивы</h4>
				<a name="Текущие отказы"></a><h4>Основное меню/ Архивы/ Текущие отказы</h4>
				<a name="Текущие отключения"></a><h4>Основное меню/ Архивы/ Текущие отключения</h4>
				<a name="Архив отказов"></a><h4>Основное меню/ Архивы/ Архив отказов</h4>
				<a name="Архив пожаров"></a><h4>Основное меню/ Архивы/ Архив пожаров</h4>
				<a name="Архив событий"></a><h4>Основное меню/ Архивы/ Архив событий</h4>
				<a name="Сигнализация"></a><h4>Основное меню/ Сигнализация</h4>
				<a name="Состав извещателей"></a><h4>Основное меню/ Сигнализация/ Состав извещателей</h4>
				<a name="Состав приборов"></a><h4>Основное меню/ Сигнализация/ Состав приборов</h4>
				<a name="Отключения зон"></a><h4>Основное меню/ Сигнализация/ Отключение зон</h4>
				<a name="Сервис"></a><a name="Проверка извещателей"></a><h4>Основное меню/ Сигнализация/ Сервис/ Проверка извещателей</h4>
				<a name="Поиск извещателей"></a><h4>Основное меню/ Сигнализация/ Сервис/ Поиск извещателей</h4>
				<a name="Включить извещатели"></a><h4>Основное меню/ Сигнализация/ Сервис/ Включить извещатели</h4>
				<a name="Смена адреса извещателя"></a><h4>Основное меню/ Сигнализация/ Сервис/ Смена адреса извещателя</h4>
				<a name="Смена адреса ППКП"></a><h4>Основное меню/ Сигнализация/ Сервис/ Смена адреса ППКП</h4>
				<a name="Смена адреса БРВУ"></a><h4>Основное меню/ Сигнализация/ Сервис/ Смена адреса БРВУ</h4>
				<a name="Смена адреса БДУ"></a><h4>Основное меню/ Сигнализация/ Сервис/ Смена адреса БДУ</h4>
				<a name="Пожаротушение"></a><h4>Основное меню/ Пожаротушение</h4>
				<a name="Настройка направлений"></a><h4>Основное меню/ Пожаротушение/ Настройка направлений</h4>
				<a name="Задержка сброса"></a><h4>Основное меню/ Пожаротушение/ Задержка сброса</h4>
				<a name="Релейные выходы"></a><a name="Релейные сценарии"></a><h4>Основное меню/ Релейные выходы/ Релейные сценарии</h4>
				<a name="Выход ПЕРЕДАЧА ПЦН"></a><h4>Основное меню/ Релейные выходы/ Выход ПЕРЕДАЧА ПЦН</h4>
				<a name="Выход ОПОВЕЩЕНИЕ"></a><h4>Основное меню/ Релейные выходы/ Выход ОПОВЕЩЕНИЕ</h4>
				<a name="Связанные выходы"></a><h4>Основное меню/ Релейные выходы/ "Связанные" выходы</h4>
				<a name="Общие настройки"></a><h4>Основное меню/ Общие настройки/</h4>
				<a name="Внешняя коммуникация"></a><a name="Межсистемная"></a><h4>Основное меню/ Общие настройки/ Внешняя коммуникация/ Межсистемная(А3/В3)</h4>
				<a name="Компьютерная"></a><h4>Основное меню/ Общие настройки/ Внешняя коммуникация/ Компьютерная(А4/В4)</h4>
				<a name="Календарь"></a><h4>Основное меню/ Общие настройки/ Календарь</h4>
				<a name="Код доступа"></a><h4>Основное меню/ Общие настройки/ Код доступа</h4>
				<a name="Серийный номер"></a><h4>Основное меню/ Общие настройки/ Серийный номер</h4>
				<a name="Обновить программу"></a><h4>Основное меню/ Общие настройки/ Обновить программу</h4>
				<a name="Языковые настройки"></a><h4>Основное меню/ Общие настройки/ Языковые настройки</h4>
				<a name="Статус прибора"></a><h4>Основное меню/ Общие настройки/ Статус прибора</h4>
				<a name="Конфигурация"></a><h4>Основное меню/ Конфигурация</h4>
				<a name="Записать в ПУ"></a><a name="Источник:SD-карта"></a><h4>Основное меню/ Конфигурация/ Записать в ПУ/ Источник:SD-карта</h4>
				<a name="Источник:компьютер"></a><h4>Основное меню/ Конфигурация/ Записать в ПУ/ Источник:компьютер</h4>
				<a name="Источник:резервная копия"></a><h4>Основное меню/ Конфигурация/ Записать в ПУ/ Источник:резервная копия</h4>

				<a name="Считать из ПУ"></a><a name="Приемник:SD-карта"></a><h4>Основное меню/ Конфигурация/ Считать из ПУ/ Приемник:SD-карта</h4>
				<a name="Приемник:компьютер"></a><h4>Основное меню/ Конфигурация/ Считать из ПУ/ Приемник:компьютер</h4>
				<a name="Приемник:резервная копия"></a><h4>Основное меню/ Конфигурация/ Считать из ПУ/ Приемник:резервная копия</h4>
				<a name="Техническая поддержка"></a><h4>Основное меню/ Техническая поддержка</h4>


				
				
			<a name="Прибор ППКП"></a><h3>Прибор расширения (ППКП)</h3>
			<a name="Прибор БРВУ"></a><h3>Блок реле внешних устройств (БРВУ)</h3>
			<a name="Прибор БДУ"></a><h3>Блок дистанционного управления (БДУ)</h3>
			<a name="Прибор БРИТ"></a><h3>Блок расширения индикации тушения (БРИТ/БДУ4)</h3>
			<a name="Прибор ПИУ"></a><h3>Прибор индикации и управления (ПИУ)</h3>
			<a name="Прибор ДВП"></a><h3>Дополнительный выносной прибор (ДВП)</h3>
			<a name="Контакт"></a><h3>Контактная информация</h3>
			<p>
			ЧП «РЕЗЕРВ-1», Украина, 61157, г. Харьков, ул. Москалевская, 99, В2
			<br>тел./факс: +38(057)703-21-57, (067)5781809, Попов Григорий Павлович, директор
			<br>телефоны тех. поддержки:  +38 (057)7032158, (097)7836031
			<br><a href="mailto:rezerv-1@ukr.net" > e-mail:rezerv-1@ukr.net</a>
			<br><a href="http://rezerv-1.com/" >http://rezerv-1.com/</a>
			<br>
			<br>
			</p>
		</div>


	</div>
	
</body>	
</html>
