{% extends "base.html" %}

{% block title%}
    Home
{% endblock %}

{% block content%}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
        <div class="alert alert-info">
            <div class="row custom_alert">
                <img class="col-md-4" src="{{ url_for('static', filename='img/Getty.jpg') }}" alt="">
                <p class="col-md-8"><b>&nbsp;&nbsp;&nbsp;&nbsp;Литературный критик и главный редактор сервиса Storytel Анастасия Завозова по просьбе Esquire
                    рассказывает о главных новинках зарубежной литературы.</b> Помимо нового детектива Ю. Несбё
                    и сборника новелл Стивена Кинга в подборке осени — роман взросления от победителя
                    Международной Букеровской премии Мариеке Лукас Рейневельд, провокативная антиутопия о мире,
                    где исчезло все мясо и люди становятся каннибалами, история из Японии о девушке,
                    которая очень старалась быть как все, и многое другое.
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Пока мы переворачивали календарь и жгли рябину, в Британии 3 сентября одновременно вышло 600 новых книг.
                    Разумеется, это связано с ковидом: многие издатели придержали важные летние и весенние новинки до осени,
                    и теперь британские книжные просто не могут принять столько новинок и вынуждены выбирать.
                    В российском книгоиздании ситуация, на самом деле, немного схожая, хоть и не столь изобильная.
                    Многие действительно важные новинки сдвинулись на осень-зиму, и, похоже, если мы все доживем до
                    традиционной ярмарки Non/Fiction в офлайн-формате, то туда надо сразу будет заходить с тележкой на колесиках,
                    потому что там будет примерно всё. Одних переводных бестселлеров художественной литературы будет столько,
                    что их очень сложно вместить в какой-то конечный список, поэтому, кроме десяти важных и громких романов,
                    перечисленных ниже, вот что еще бы хотелось отметить.
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Издательство «Азбука» выпустит осенью новый роман <b>Дэвида Митчелла «Проспект Утопии»</b> —
                    историю вымышленной психоделической британской группы — и новый детектив <b>Ю Несбё</b> под названием <b>«Королевство»</b>,
                    не о Харри Холе. В «АСТ» выйдет новый <b>Стивен Кинг</b> — сборник новелл под названием <b>«Если пойдет кровь»</b> —
                    и детская книжка <b>Дэна Брауна «Звериная симфония»</b>, которая ненавязчиво привьет детям любовь к классической музыке (или к Дэну Брауну).
                    Очень сильный список осенних новинок у издательства Polyandria NoAge, здесь в переводе Дмитрия Коваленина выйдет роман
                    <b>«Полиция памяти»</b> японской писательницы <b>Еко Огавы</b>, вошедший в шорт-лист Международного Букера и получивший множество других наград,
                    и роман очень самобытной исландской писательницы <b>Аудур Авы Олафсдоттир «Отель «Тишина»</b> в переводе известного скандинависта Татьяны Шенявской.
                    No Kidding Press выпустит первую часть копенгагенской трилогии <b>Тове Дитлевсен</b>, классика датской литературы,
                    и это такой важный текст о взрослении. И издательство «Книжники» выпустит свежий роман <b>Натана Ингландера Kaddish.com</b>
                    в переводе Светланы Силаковой.
                </p>
            </div>
            <div class="about_book">
                <a href="https://www.livelib.ru/book/1004151598-chelovekkombini-sayaka-murata">Саяка Мурата - «Человек-комбини»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book1.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Кэйко Фурукура с самого детства была не такой, как все, — например, не понимала,
                    почему обязательно надо плакать над мертвой птичкой вместо того, чтобы принести ее домой и сделать из нее якитори,
                    птичку-то все равно не вернешь, — но когда поняла, что ее поведение и эмоции не совпадают с социально одобряемыми,
                    принялась это социально одобряемое поведение имитировать. Устроившись на работу в магазин комбини,
                    этакий усложненный японский «Вкусвилл», Кэйко наконец-то обрела счастье: научилась двигаться, здороваться,
                    общаться с покупателями, имитировать речь и стиль коллег — в общем, стала практически полноценной моделью нормального человека.
                    Но вот беда — по мнению общества, нельзя всю жизнь проработать в супермаркете, и в тридцать шесть лет Кэйко,
                    бездетная, незамужняя и без приличной работы, снова оказалась не такой, как все. «Быть собой» — расхожая голливудская формула,
                    которую в этом романе не то чтобы выворачивают наизнанку, а скорее обнажают до подлинной точности, потому что это роман о том,
                    как реагирует общество, когда человеку хочется именно что быть собой, только собой настоящим.
                </p>
                <a href="https://www.livelib.ru/book/1004719711-lish-kratkij-mig-zemnoj-my-vse-prekrasny-oushen-vuong">Оушен Вуонг - «Лишь краткий миг земной мы все прекрасны»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book2.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;К 32 годам Оушен Вуонг собрал почти все сколь-нибудь значимые поэтические премии в США и Англии.
                    Можно по‑разному относиться к его дебютному роману — потому что в рамках прозаического жанра Вуонг все равно ведет себя
                    в первую очередь как поэт, — но появление этого текста на русском языке (как и на 30 других) все равно важное событие.
                    Вуонг семимильными шагами идет к статусу живого классика, хотя на этом пути, от вьетнамского беженца до призового голоса
                    новой американской поэзии, ему и пришлось сносить семь пар условных железных башмаков, следы которых (иногда даже слишком сильно)
                    отпечатались во многих его текстах. «Лишь краткий миг…» — это полуавтобиографический, собранный на ритмизованную сюжетную нитку
                    роман-письмо автора к матери, написанный короткими поэтическими приступами, от сцены к сцене. Маленький мальчик подрабатывает
                    вместе с нелегальными мексиканскими иммигрантами на уборке табака, мать делает педикюр фантомной ноге клиентки,
                    бабушка Лан заваривает рис жасминовым чаем — и между этих быстрых, ярких точных картинок летают рассуждения о бабочках-монархах и,
                    скажем, истории оксиконтина. Не самое простое чтение, хотя бы потому, что Вуонга больше интересует язык и структура фразы,
                    чем структура романа, и на долгой дистанции история начинает заметно уступать стилю, увариваясь в нем почти до незаметности,
                    но, безусловно, чтение не проходное.
                </p>
                <a href="">Эмили Сент-Джон Мандел - «Стеклянный отель»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book3.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;По-настоящему знаменитой Эмили Сент-Джон Мандел стала после публикации четвертого романа «Станция Одиннадцать»,
                    постапокалиптической элегии о современном мире с его супермаркетами, включающимся по щелчку электричеством и взлетающими самолетами.
                    «Стеклянный отель» в какой-то мере кажется продолжением этого романа, хотя в нем — за исключением буквально двух-трех пасхальных яиц
                    и одной героини, которая живет здесь совсем другую жизнь, — почти нет сюжетных совпадений. Основная тема «Стеклянного отеля» —
                    это призрачная жизнь, которую мы волей-неволей начинаем проживать в уме, сделав какой-то важный и необратимый выбор,
                    воспользовавшись возможностью, сказав себе: «А почему бы и нет?» Все герои романа, чьи судьбы так или иначе переплетаются,
                    — от финансового махинатора до тоскующей по матери барменши, от композитора-наркомана до бывшей художницы — все время возвращаются
                    мыслями к моменту, когда своим выбором они навсегда переменили или свою жизнь, или жизнь других людей, подчас совершенно трагически.
                    И в этом отношении «Стеклянный отель» кажется таким же призрачным и стилистически, структурно более совершенным вариантом «Станции Одиннадцать».
                    Это идеально выстроенный и невероятно элегантный роман с той же интонационной ноткой — как прекрасна жизнь, которую мы больше не проживем,
                    — но только более простой и строгий. В нем нет того сюжетного изобилия, что было в «Станции Одиннадцать» (комикс, культ, убийство,
                    трагическая любовь), а есть лишь чистые, ясные линии нескольких сложных жизней, которые, единожды соприкоснувшись, навсегда изменили мир.
                </p>
                <a href="https://www.livelib.ru/book/1005074308-pod-mayatnikom-solntsa-dzhannet-ing">Джаннет Инг - «Под маятником солнца»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book4.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Никакой, даже самый маленький текст о Джаннет Инг сегодня невозможен без упоминания того,
                    как она получила премию имени Джона Кэмпбелла (если вкратце и совсем грубо, то это серьезная награда в области
                    фантастической литературы) и добилась того, что эту премию переименовали из-за расистских и фашистских взглядов Кэмпбелла.
                    Понятно, что дебютный роман Инг получил из-за этого еще больше внимания читателей фантастики и фэнтези — и не всегда лестного.
                    Действительно, роман «Под маятником солнца» — это примерно такое же фэнтези, как, скажем, и роман «Лилит» викторианского автора
                    Джорджа Макдональда, то есть скорее донельзя атмосферная, странная, временами почти бессюжетная история, плотно связанная с
                    классической британской литературой.
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;Буквально же на первых страницах книги героиня Кэтрин Хэлстон с тоской вспоминает вымышленную
                    страну Заморну, которую они с братом выдумали в детстве, и одно это упоминание становится гиперссылкой к ангрианским хроникам
                    Шарлотты и Бренуэлла Бронте и невероятной судьбе герцога Заморны, основного героя ювеналий Шарлотты.
                    «Под маятником солнца» вообще во многом опирается на вот эту буйную, неукротимую фантазию ангрианского и гондальского циклов
                    семейства Бронте — тут тебе и солнце-маятник, и рыба-луна, и похожий на Сент-Джона Риверса проповедник, который отправился в Аркадию,
                    страну фэйри, обращать волшебный народец в христианскую веру. В общем — это невероятно приятное, узнаваемое чтение для всех
                    любителей викторианской литературы, всем же остальным стоит сразу настраиваться на то, что эта книга и живет по законам
                    викторианской литературы, и атмосферным отступлениям здесь уделено почти столько же времени, сколько и живому бегу сюжета.
                </p>
                <a href="">Агустина Бастеррика - «Особое мясо»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book5.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;«Особое мясо» — это самая, наверное, странная антиутопия последнего времени, в которой у мяса появляется
                    точка зрения. Действие в ней происходит в мире, где всех без исключения животных поразил смертельный для человека вирус GGB.
                    Есть животных больше нельзя, и все силы брошены на поиски нового источника белка. Сначала им становятся бездомные,
                    бродяги и нелегальные иммигранты, и постепенно мир приходит к признанию каннибализма: одни люди начинают разводить других
                    людей на мясо и забивать их на скотобойнях, которых, впрочем, никто так больше не называет из соображений политкорректности.
                    В этом дивном новом мире, где тело готовят не к лету, а к ужину, и живет наш герой Маркос, который однажды получает в подарок женщину,
                    выращенную на бургеры… Роман Бастеррики, конечно же, подчеркнуто провокативный, убивающий аппетит (хотя как знать) и
                    возбуждающий дискуссию, но помимо тематических достоинств у него есть и структурное преимущество. Это очень, очень читабельный роман.
                    Well done, короче.
                </p>
                <a href="">Сильвия Морено-Гарсия - «Мексиканская готика»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book6.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Энергичная сошиалитетка Ноэми Табоада, дыша мехами и грозовым воздухом надвигающейся эмансипации,
                    отправляется выручать из уз патриархального брака свою кузину Каталину и из Мехико 1950-х переносится в атмосферу
                    отъявленного девятнадцатого века. Мрачное поместье, окруженное кладбищем, английский муж Каталины, то и дело выпускающий
                    наружу внутреннего Хитклифа, семейные тайны, злобная домоправительница, которая как будто совсем недавно притворила за собой
                    дверь Мандерли, потемневшее серебро и гнетущее молчание за обедом — «Мексиканская готика» буквально лопается от обилия
                    привычных тропов и тропизмов готического романа, связанных, впрочем, в быструю и динамичную историю.
                    «Мексиканская готика» выглядит и ведет себя как совершенно твидовый британский роман, но с самого начала повествование
                    в нем захвачено латиноамериканской нарративной традицией — с неожиданным соскальзыванием в галлюцинации и гротеск.
                    Изредка, и всякий раз внезапно, история оборачивается к читателю ковром, который нужно не читать, а смотреть, но зато от
                    этого становится только объемнее.
                </p>
                <a href="">Абир Мукерджи - «Человек с большим будущим»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book7.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Сэм Уиндхэм, инспектор Скотленд-Ярда, прошедший Первую мировую и потерявший из-за эпидемии испанки жену,
                    приезжает работать в Индию. Уже понятно, что швы огромной Британской империи трещат и кровоточат, но англичане по‑прежнему
                    поддерживают жизнь в этом чудовище Франкенштейна, закусив многострадальную верхнюю губу. В эту атмосферу сложных политических
                    разборок, общей неустойчивости и надвигающегося нового времени попадает Уиндхэм, которому с ходу достается непростое дело
                    — убийство важного чиновника. Вообще, написать хороший детектив достаточно сложно, как раз потому что это жанр с самой строгой
                    рецептурой, и если не следовать заданным рамкам жанра, то детективный роман или рассыпается, или в лучшем случае превращается
                    в триллер. Но, несмотря на то, что здесь есть элементы, словно бы перешедшие в роман из серии «Библиотека приключений»,
                    Мукерджи удалось создать именно что хороший, построенный по всем правилам полицейский детектив с убедительной атмосферой,
                    и еще лучше, что это только первая книга серии, в которой уже написано четыре романа.
                </p>
                <a href="">Дженин Камминс - «Американская грязь»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book8.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;В начале года этот роман вызвал огромный, оглушительный скандал в англоязычном издательском бизнесе
                    и напряженную дискуссию о том, кому какие истории можно рассказывать. Взявшись писать о мексиканских нелегальных иммигрантах,
                    Дженин Камминс, белая, в общем-то, женщина, не имеющая особого отношения к Мексике, допустила определенные неточности в
                    изображении мексиканской культуры, а ее издатели не просто заплатили за этот роман семизначный аванс, но еще и устроили
                    презентацию с колючей проволокой в качестве украшений для букетов. Теперь у русских читателей появится возможность самим
                    прочесть этот роман — который по сути своей в первую очередь все-таки крепко сбитый триллер о побеге от наркомафии,
                    чем серьезное высказывание о судьбе нелегальных иммигрантов, — и тут надо отдать Камминс должное: да, скорее всего,
                    она не слишком хорошо разобралась в мексиканской культуре и с размаху наступила на оголенный общественный нерв, но в том,
                    как устроена структура прямолинейного остросюжетного романа, она разбирается очень даже неплохо.
                </p>
                <a href="">Мариеке Лукас Рейневельд - «Неловкий вечер»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book9.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Международная Букеровская премия в этом году досталась роману «Неловкий вечер», и это тот случай,
                    когда чтение тоже может быть очень неловким — не потому, что это плохо написанный роман, нет, Рейневельд пишут
                    (автор просит в отношении себя употреблять местоимение третьего лица множественного числа, чтобы подчеркнуть свою гендерную
                    нейтральность) хорошо, резко и продуманно, но весь роман в целом — это такая пощечина общественному вкусу, с которой, наверное,
                    по‑прежнему начинают свой литературный путь многие авторы. История Яс, девочки в красном пальто, растущей на ферме и остро
                    проживающей смерть брата, эпидемию ящура, болезненное взросление, судороги пубертата, сексуальные эксперименты,
                    осознание тела в период дефекации и похожие на сопли молочные пенки, по сути своей мало чем отличается от любой бунтарской,
                    неприкрытой, несахарной истории взросления, которых довольно много в литературе. Но, возможно, неувядающая притягательность
                    таких историй в том, что они всякий раз пишутся как будто бы в первый раз, и чем ближе автор к этому болезненному периоду
                    (Рейневельд еще нет и тридцати), тем громче и честнее они звучат.
                </p>
                <a href="">Та-Нехиси Коутс - «Танцующий на воде»</a>
                <br><img class="col-md-16" src="{{ url_for('static', filename='img/book10.jpg') }}" alt="">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;В США Та-Нехиси Коутс стал известен в первую очередь благодаря книге «Между миром и мной»,
                    нон-фикшену, написанному в форме писем к сыну, в которых он пытается постичь природу американского расизма.
                    «Танцующий на воде» — это в некотором роде продолжение этой книги, только в более популярной, доступной жанровой форме.
                    История Хирама, раба на виргинской плантации, который вдруг обретает могущественную силу, которая может помочь ему освободить
                    своих товарищей из рабства, — по сути, та же попытка вывернуть корнями наружу саму суть расизма и рабовладельчества,
                    только теперь уже с привлечением магического реализма. Это не самое простое чтение — Коутс все-таки заметно сильнее там,
                    где текст позволяет ему создавать острые углы, а не сглаживать их при помощи лирической прозы и магического реализма,
                    — но довольно важное для какого-то общего понимания, как в другой культуре образовалась огромная травма и почему она
                    отзывается болью до сих пор.
                </p>

                <a href="https://www.livelib.ru/news/post/59926-10-glavnyh-perevodnyh-romanov-kotorye-nuzhno-chitat-etoj-osenyu-i-esche-vosem-bonusom">Взято с сайта ©www.livelib.ru</a>
            </div>


        </div>
    </div>
{% endblock %}
