<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}  {% endblock %}</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">BookGeek</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/search">Search book</a>
        <a class="p-2 text-dark" href="/about">About Us</a>
<!--        <a class="p-2 text-dark" href="#">Pricing</a>-->
        {% if current_user.is_anonymous %}
        <a class="btn btn-outline-primary" href="/login">Sign in</a>
        {% else %}
          <a class="p-2 text-blue" href="/user/{{current_user.name}}">{{current_user.name}}</a>
        <a class="btn btn-outline-primary" href="/logout">Sign Out</a>
        {% endif %}
      </nav>
    </div>

    <div class="container text-center">
        <h1 >{% block content %}{% endblock %}</h1>
    </div>

    <footer class="container pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-3 col-md">
            <big class="d-block mb-3 text-muted text-center">©2020</big>
          </div>
        </div>
      </footer>
</body>
</html>