.home_img img{
}

.main img{

}

.team{
    height: 950px;
}

.team_info{
    width: 1200px;
    margin: 0 auto;
}

.team_header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
}

.team_header p{
    font-style: Gotham Book, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 65px;
}

.team1{
    display: inline-block;
    width: 270px;
    margin-top: 72px;
    margin-left: 15px;
    margin-right: 30px;
}

.team1 img{
    width: 270px;
    height: 300px;
}

.team2 img{
    width: 270px;
    height: 300px;
}

.team3 img{
    width: 270px;
    height: 300px;
}

.team2{
    display: inline-block;
    vertical-align: top;
    width: 270px;
    margin-top: 72px;
    margin-right: 30px;
}

.team3{
    display: inline-block;
    vertical-align: top;
    width: 270px;
    margin-top: 72px;
    margin-right: 30px;
}

.team4{
    display: inline-block;
    vertical-align: top;
    width: 270px;
    margin-top: 72px;
}

.team_about{
    width: 215px;
    height: 80px;
    position: absolute;
    background-color: white !important;
    margin-left: 27.5px;
    margin-top: -50px;
}

.about_new_book{
    width: 215px;
    position: relative;
    background-color: white !important;
    margin-left: 400px;
    margin-top: -50px;
}

.about_new_book p{
    font-size: 16px;
}

.team_about h1{
    font-style: Gotham Medium, sans-serif;
    font-size: 20px;
    color: #11749E;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    padding-top: 10px;
}

.team_about p{
    font-style: Gotham Medium, sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
    background-color: white;
    font-weight: bold;
}